.modal{
    height: 95vh;
    width: 100vw;
}
.modal-content{
    background-color: white;
    padding: 1rem;
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.modal-content form{
    display: flex;
    flex-direction: column;
}

.modal-content input{
    padding: 1rem;
    background-color: inherit;
    outline: none;
    border: 1px solid grey;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    color: black;
}