
.XWeatherApp{
    width: 100vw;
    /* height: 100vh; */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.searchBar{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.XWeatherApp input{
    padding: 0.6rem 1.2rem;
}
.XWeatherApp button{
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #4caf50;
}
.weather-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.weather-card{
    color: black;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}